body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #0077cc;
}

ul {
    list-style: square;
}

footer {
    text-align: center;
    padding: 20px;
}